<style>
  .ca_logo {
      width: 50%;
      margin-top: 30%;
      margin-bottom: 2em;
  }
  .error {
      color: #ffacac;
  }
</style>

<div style="width: 100%; text-align: center;">
  <img src="assets/black.png" class="ca_logo">

  <form [formGroup]="loginForm">
    <mdc-form-field>

      <!-- Login field -->
      <mdc-text-field #login
		      formControlName="username"
		      label="Usuário"
		      outlined="false"
		      [helperText]="loginHelper"
		      required
		      minlength="3">
	<mdc-icon mdcTextFieldIcon leading>person</mdc-icon>
      </mdc-text-field>
      <mdc-text-field-helper-text #loginHelper="mdcHelperText" validation>
        <span class="error" *ngIf="loginForm.controls['username'].errors?.required">Nome de usuário necessário</span>
        <span class="error" *ngIf="loginForm.controls['username'].errors?.minlength">Nome de usuário muito curto</span>
      </mdc-text-field-helper-text>

      <!-- Password field -->
      <mdc-text-field #password
		      formControlName="password"
		      label="Senha"
		      outlined="false"
		      [helperText]="passwordHelper"
		      required
		      minlength="6"
		      type="password">
	<mdc-icon mdcTextFieldIcon leading>lock</mdc-icon>
      </mdc-text-field>
      <mdc-text-field-helper-text #passwordHelper="mdcHelperText" validation>
        <span class="error" *ngIf="loginForm.controls['password'].errors?.required">Senha necessária</span>
        <span class="error" *ngIf="loginForm.controls['password'].errors?.minlength">Senha muito curta</span>
      </mdc-text-field-helper-text>

      <!-- Send button -->
      <button mdc-button raised secondary type="Submit" (click)="submit()">Entrar</button>

    </mdc-form-field>
  </form>
</div>
